<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655022768933-ckqa8sdm78230gnu0oevqmmp4fp3t312.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655022768933-ckqa8sdm78230gnu0oevqmmp4fp3t312</string>
	<key>API_KEY</key>
	<string>AIzaSyAnJy7-lSXIbZSN6YWR74ZTu4NMOxK86aw</string>
	<key>GCM_SENDER_ID</key>
	<string>655022768933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sugc.schedule</string>
	<key>PROJECT_ID</key>
	<string>schedule-31ca2</string>
	<key>STORAGE_BUCKET</key>
	<string>schedule-31ca2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655022768933:ios:90a2d20e68f888d9</string>
	<key>DATABASE_URL</key>
	<string>https://schedule-31ca2.firebaseio.com</string>
</dict>
</plist>